<link rel="stylesheet" type="text/css" href="stylesheets/sp_password_forget.scss">

<div class="sp_password_forget">
  <h3>パスワードを忘れた場合</h3>

  <div class="sp_password_forget_info">
   <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="sp_password_forget_email">
      <%= f.label :"メールアドレス:" %>&ensp;
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :id => "sp_email_field" %>
    </div>

    <div class="sp_password_forget_action">
      <button type="button" onclick="submit();" id="sp_action_button">送信する</button>
    </div>
   <% end %>
  </div>
</div>