<link rel="stylesheet" type="text/css" href="stylesheets/password_forget.scss">

<div class="password_forget_whole">
  <h3>パスワードを忘れた場合</h3>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <span class="password_forget_email">
      <p><%= f.label :"メールアドレス:" %></p>&emsp;
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :id => "email_field" %>
    </span>

    <span class="password_forget_action">
      <button type="button" onclick="submit();" id="action_button">送信する</button>
    </span>
  <% end %>
</div>