.category{
    padding: 0px 40px 40px 40px;
}

.category h3{
    font-family: HGSGothicG;
    font-size: 45px;
    color: #626063;

    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.category_items{
    padding: 20px;
    height: 600px;
    background-color: #EFEFEF;
    overflow: scroll;
}

.items-container{
    margin: 10px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: dashed 2px #a0a0a0;
    border-radius: 20px;
}

.category_item{
    height: 300px;
    width: 400px;
    margin:10px 20px 0px 0px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: flex-start;
    line-height: 30px;

    font-family: HGSGothicM;
    font-size: 20px;
    color: #2C2C2C;
}

.category_item p{
    display: flex;
    justify-content: flex-start;
    text-align: flex-start;

    font-family: HGSGothicG;
    font-size: 23px;
    color: #2C2C2C;
}

.category_item a{
    color: inherit;
}
.category_item a:hover{
    color: #7A99CF;
}

.like{
    color: #7A99CF;
}
.like a{
    text-decoration: none;
    color: inherit;
}

.color{
    font-size: 20px;
    color: #7A99CF;
    margin-right: 5px;
}

.category_image{
    width: 250px;
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category_image img{
    width: 250px;
    height: auto;
}

.category_user{
    height: 280px;
    width: 400px;
    margin-left: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-end;
    line-height: 30px;

    font-family: HGSGothicM;
    font-size: 18px;
    color: #2C2C2C;
}
.category_user a{
    text-decoration: none;
    color: inherit;
}
.category_user a:hover{
    color: #7A99CF;
}

#category_icon{
    display: flex;
}