.edit_whole{
    padding: 40px;
    display: flex;
}

.edit_main{
    flex-basis: 850px;
    margin-right: 50px;
}
.edit_main h3{
    font-family: HGSGothicG;
    font-size: 30px;
    color: #626063;
    margin-bottom: 25px;
}

.edit_item{
    height: 600px;
    background-color: #EFEFEF;
    font-family: HGSGothicM;
    font-size: 23px;
    color: #2C2C2C;
}
.edit_item form{
    margin: 0 auto;
    padding-top: 80px;
    width: 550px;
    height: 450px;
}

.edit_name{
    display: flex;
    margin: 20px 0;
}
.edit_name input[type="text"]{
    width: 350px;
    height: 25px;
    font-family: HGSGothicM;
    font-size: 18px;
    color: black;
}

.edit_about{
    display: flex;
    margin: 20px 0;
}
textarea{
    width: 400px;
    height: 100px;
    padding: 5px;
    font-family: HGSGothicM;
    font-size: 18px;
    color: black;
}

.edit_price{
    display: flex;
    margin: 20px 0;
}
.edit_price input[type="text"]{
    width: 150px;
    height: 25px;
    font-family: HGSGothicM;
    font-size: 18px;
    color: black;
}

.edit_image{
    display: flex;
    margin: 20px 0;
}
#image_file{
    width: 200px;
    height: 25px;
    background-color: white;
    cursor: pointer;
    font-family: HGSGothicM;
    font-size: 18px;
    color: #2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image_file:hover{
    color: #7A99CF;
}
#image_file input{
    display: none;
}

.edit_category{
    display: flex;
    margin: 20px 0;
}
.edit_category select{
    padding: 5px 10px;
    font-family: HGSGothicM;
    font-size: 18px;
    color: #2C2C2C;
    cursor: pointer;
}
.edit_category select:hover{
    color: #7A99CF;
}

.edit_action{
    display: flex;
    justify-content: center;
}
#edit_button{
    width: 130px;
    margin-top: 30px;
    padding: 5px 15px;
    background-color: white;
    border: solid 2px #7A99CF;
    border-radius: 10px;
    font-family: HGSGothicG;
    font-size: 20px;
    color: #2C2C2C;
}

.edit_link{
    flex-basis: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #EFEFEF;
    margin-top: 70px;
    padding: 60px 30px;
    height: 300px;
    border-radius: 20px;
}
.edit_link ul{
    align-items: flex-start;
    list-style: none;
    line-height: 200%;
}
.edit_link a{
    font-family: HGSGothicE;
    font-size: 20px;
    color: #626063;
    text-decoration: none;
}
.edit_link a:hover{
    border-bottom: dashed 2px #a0a0a0;
}