.index_whole{
    padding: 40px;
    display: flex;
}

.index_main{
    flex-basis: 850px;
    margin-right: 50px;
}
.index_main h3{
    font-family: HGSGothicG;
    font-size: 30px;
    color: #626063;
    margin-bottom: 20px;
}

.item_whole{
    padding: 40px;
    height: 650px;
    background-color: #EFEFEF;
    overflow: scroll;
}

.item_container{
    margin: 10px 0px 20px 0px;
    padding: 20px;
    border: dashed 2px #a0a0a0;
    border-radius: 20px;
}

.item_top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    padding: 10px;
}
.item_top p{
    font-family: HGSGothicE;
    font-size: 25px;
    color: #2C2C2C;
}
.item_top a{
    color: #2C2C2C;
    text-decoration: none;    
}
.item_top a:hover{
    border-bottom: dashed 2px #a0a0a0;
}

.item_bottom{
    height: 350px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.leftside{
    width: 350px;
    height: 300px;
    margin-right: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    font-family: HGSGothicM;
    font-size: 20px;
    color: #2C2C2C;
}
.leftside p{
    display: flex;
    justify-content: flex-start;
    text-align: start;
    margin-bottom: 20px;
    font-family: HGSGothicG;
    font-size: 18px;
    color: #2C2C2C;
}

.iconarea{
    display: flex;
    border-top: dashed 1px #a0a0a0;
    padding-top: 10px;
}
.iconarea a{
    color: #7A99CF;
    text-decoration: none;
}

.dataarea{
    margin-top: 30px;
}
.dataarea p{
    font-family: HGSGothicG;
    font-size: 15px;
    color: #2C2C2C;
    line-height: 70%;
}
.dataarea a{
    color: #2C2C2C;
}
.dataarea a:hover{
    color: #7A99CF;
}

.index_image{
    width: 300px;
    height: 350px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.index_image img{
    width: 250px;
    height: auto;
}

.index_link{
    flex-basis: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #EFEFEF;
    margin-top: 70px;
    padding: 60px 30px;
    height: 300px;
    border-radius: 20px;
}
.index_link ul{
    align-items: flex-start;
    list-style: none;
    line-height: 200%;
}
.index_link a{
    font-family: HGSGothicE;
    font-size: 20px;
    color: #626063;
    text-decoration: none;
}
.index_link a:hover{
    border-bottom: dashed 2px #a0a0a0;
}