// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.link{
    margin-right: 25px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.link a{
    margin-top: 20px;

    font-family: HGSGothicE;
    font-size: 18px;
    color: #626063;
}

.color{
    font-size: 20px;
    color: #7A99CF;
    cursor: pointer;
}

.like{
    color: #7A99CF;
}
.like a{
    text-decoration: none;
    color: inherit;
}