.mypage_link{
    margin-right: 25px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;

    position: relative;
    z-index: 2;
}
.mypage_link a{
    margin-top: 20px;

    font-family: HGSGothicE;
    font-size: 18px;
    color: #626063;
}

.mypage{
    position: relative;
    top: -250px;
    z-index: 1;
    padding: 0px 40px 40px 40px;
}

.mypage h3{
    font-family: HGSGothicG;
    font-size: 30px;
    color: #626063;

    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user_mypage{
    padding: 40px;
    height: 600px;
    width: 950px;
    background-color: #EFEFEF;
}

.user_info{
    font-family: HGSGothicM;
    font-size: 20px;
    color: #2C2C2C;
    line-height: 40px;

    margin-bottom: 50px;
    padding: 20px;
    width: 800px;

    border: dashed 2px #a0a0a0;
    border-radius: 20px;
}

.user_action{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 60px;
    padding: 20px;
}
.user_action h3{
    font-family: HGSGothicG;
    font-size: 25px;
    color: #626063;
}

.user_item{
    font-family: HGSGothicM;
    font-size: 18px;
    color: #2C2C2C;

    margin-right: 20px;
}
#user_item_all{
    overflow: scroll;
    width: 450px;
    height: 200px;
    margin-top: 30px;
    line-height: 20px;
}
#user_item_all li{
    display: flex;
}
#user_item_all a{
    color: inherit;
}
#user_item_all a:hover{
    color: #7A99CF;
}

.user_like{
    font-family: HGSGothicM;
    font-size: 18px;
    color: #2C2C2C;

    margin-left: 20px;
}
#user_like_all{
    overflow: scroll;
    width: 450px;
    height: 200px;
    margin-top: 30px;
    line-height: 20px;
}
#user_like_all li{
    display: flex;
}
#user_like_all a{
    color: inherit;
}
#user_like_all a:hover{
    color: #7A99CF;
}

.mypage_user_edit{
    margin: 50px 0px 0px 10px;
    line-height: 40px;
}
.mypage_user_edit a{
    font-size: 18px;
    color: inherit;
}
.mypage_user_edit a:hover{
    color: #7A99CF;
}

.user_color{
    font-size: 15px;
    color: #7A99CF;
    cursor: pointer;
}