.mypage_whole{
    padding: 40px;
    display: flex;
}

.mypage_main{
    flex-basis: 850px;
    margin-right: 50px;
}
.mypage_main h3{
    font-family: HGSGothicG;
    font-size: 30px;
    color: #626063;
}

.user_whole{
    padding: 20px;
    height: 650px;
    background-color: #EFEFEF;
}

.mypage_frame{
    font-family: HGSGothicM;
    font-size: 20px;
    color: #2C2C2C;
    line-height: 40px;
    margin-bottom: 50px;
    padding: 20px 40px;
    border: dashed 2px #a0a0a0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#mypage_info{
    display: flex;
    flex-flow: column;
}

#mypage_user_edit{
    font-size: 18px;
    line-height: 30px;
}
#mypage_user_edit a{
    color: #2C2C2C;
}
#mypage_user_edit a:hover{
    color: #7A99CF;
}

.mypage_action{
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}
.mypage_action h4{
    font-family: HGSGothicM;
    font-size: 20px;
    color: #626063;
    margin-bottom: 30px;
}
.mypage_action ul{
    overflow-y: scroll;
    height: 150px;
    line-height: 100%;
    font-family: HGSGothicM;
    font-size: 15px;
    color: #2C2C2C;
    padding-top: 5px;
}
.mypage_action ul li{
    display: flex;
    padding-left: 20px;
    border-bottom: dashed 1px #a0a0a0;
}
.mypage_action p{
    margin-right: 20px;
}
.mypage_action a{
    color: #2C2C2C;
    text-decoration: none;
}
.mypage_action a:hover{
    color: #7A99CF;
}

.mypage_item_whole{
    height:200px;
    margin-bottom: 30px;
}

.mypage_like_whole{
    height:200px;
}
.mypage_like_whole ul li{
    margin-bottom: 14px;
}
#like a{
    color: #7A99CF;
    text-decoration: none;
}

.mypage_icon{
    font-size: 15px;
    color: #7A99CF;
    cursor: pointer;
}

.mypage_link{
    flex-basis: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #EFEFEF;
    margin-top: 70px;
    padding: 60px 30px;
    height: 300px;
    border-radius: 20px;
}
.mypage_link ul{
    align-items: flex-start;
    list-style: none;
    line-height: 200%;
}
.mypage_link a{
    font-family: HGSGothicE;
    font-size: 20px;
    color: #626063;
    text-decoration: none;
}
.mypage_link a:hover{
    border-bottom: dashed 2px #a0a0a0;
}