.password_forget{
    padding: 60px 40px 40px 40px;
}
.password_forget h3{
    font-family: HGSGothicG;
    font-size: 30px;
    color: #626063;

    display: flex;
    align-items: center;
}

.password_forget_info{
    height: 550px;
    background-color: #EFEFEF;
    margin: 30px;
    padding: 70px;

    font-size: 23px;
    color: #2C2C2C;
    font-family: HGSGothicM;
    line-height: 60px;
}

.password_forget_email{
    display: flex;
    align-items: center;
}

.password_forget_action{
    margin-top: 70px;
}