.password_forget_whole{
    padding: 40px;
}
.password_forget_whole h3{
    font-family: HGSGothicG;
    font-size: 30px;
    color: #626063;
}

.password_forget_whole form{
    height: 200px;
    background-color: #EFEFEF;
    margin: 50px 30px;
    padding: 150px 100px;
    font-size: 20px;
    color: #2C2C2C;
    font-family: HGSGothicM;
}

.password_forget_email{
    display: flex;
    align-items: center;
}

.password_forget_action{
    display: flex;
    justify-content: center;
}
.password_forget_action #action_button{
    margin-top: 100px;
}