.signup_whole{
    padding: 40px;
    display: flex;
}

.signup_main{
    flex-basis: 850px;
    margin-right: 50px;
}
.signup_main h3{
    font-family: HGSGothicG;
    font-size: 30px;
    color: #626063;
}
.signup_main form{
    height: 500px;
    background-color: #EFEFEF;
    margin: 20px;
    padding: 70px 80px;
    font-size: 20px;
    color: #2C2C2C;
    font-family: HGSGothicM;
}

.signup_name{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.signup_email{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.signup_password{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.signup_againpass{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.signup_action{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.signup_link{
    flex-basis: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #EFEFEF;
    margin-top: 70px;
    padding: 60px 30px;
    height: 300px;
    border-radius: 20px;
}
.signup_link ul{
    align-items: flex-start;
    list-style: none;
    line-height: 200%;
}
.signup_link a{
    font-family: HGSGothicE;
    font-size: 20px;
    color: #626063;
    text-decoration: none;
}
.signup_link a:hover{
    border-bottom: dashed 2px #a0a0a0;
}