.sp_login_link{
    margin-right: 20px;
    padding-top: 20px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sp_login_link a{
    font-family: HGSGothicE;
    font-size: 15px;
    color: #626063;
}

.sp_login{
    padding: 20px;
}
.sp_login h3{
    font-family: HGSGothicG;
    font-size: 20px;
    color: #626063;

    display: flex;
    align-items: center;
}

.sp_login_info{
    height: 400px;
    background-color: #EFEFEF;
    margin: 30px 10px 10px 10px;
    padding: 20px;
    line-height: 50px;

    display: flex;
    flex-flow: column;
    align-items: flex-start;

    font-size: 15px;
    color: #2C2C2C;
    font-family: HGSGothicM;
}
.sp_login_info a{
    font-size: 13px;
    color: #2C2C2C;
    font-family: HGSGothicM;
    color: inherit;
}

.sp_login_email{
    margin-top: 30px;
    line-height: 30px;

    display: flex;
    flex-flow: column;
}
#sp_email_field{
    width: 200px;
    height: 20px;
    padding: 1px 3px 1px 3px;

    font-family: HGSGothicG;
    font-size: 13px;
    color: black;
}

.sp_login_password{
    line-height: 30px;

    display: flex;
    flex-flow: column;
}
#sp_password_field{
    width: 150px;
    height: 20px;
    padding: 1px 3px 1px 3px;

    font-family: HGSGothicG;
    font-size: 13px;
    color: black;
}

.sp_check{
    font-size: 13px;
    color: #2C2C2C;
    font-family: HGSGothicM;

    margin-top: 30px;
    display: flex;
}
#sp_check_box{
    width: 13px;
    height: 13px;
    cursor: pointer;
}

.sp_login_action{
    margin: 30px 0px 50px 0px;
}
#sp_action_button{
    padding: 3px 10px 3px 10px;
    background-color: white;
    
    border: solid 2px #7A99CF;
    border-radius: 10px;
    
    font-family: HGSGothicG;
    font-size: 15px;
    color: #2C2C2C;
}