.sp_show_link{
    margin-right: 20px;
    padding-top: 10px;
    line-height: 30px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;

    position: relative;
    z-index: 2;
}
.sp_show_link a{
    font-family: HGSGothicE;
    font-size: 15px;
    color: #626063;
}

.sp_show{
    position: relative;
    top: -220px;
    z-index: 1;
    padding: 0px 20px 20px 20px;
}
.sp_show h3{
    font-family: HGSGothicG;
    font-size: 20px;
    color: #626063;
}

.sp_show_image{
    position: relative;
    z-index: 1;

    width: 180px;
    height: 130px;
    margin-top: 20px;
    padding:20px;
    overflow: scroll;
    background-color: #EFEFEF;

    display: flex;
    justify-content: center;
    align-items: center;
}
.sp_show_image img{
    width: 150px;
    height: auto;
}

.sp_show_items{
    line-height: 30px;
    font-family: HGSGothicM;
    font-size: 15px;
    color: #2C2C2C;

    padding: 20px;
    height: 510px;
    width: 300px;
    background-color: #EFEFEF;
}

.sp_show_info{
    margin: 20px;
    padding: 20px;

    width: 180px;
    height: auto;
    border: dashed 2px #a0a0a0;
    border-radius: 20px;
}

#sp_show_name p{
    font-family: HGSGothicG;
    font-size: 15px;
    color: #2C2C2C;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#sp_basic_info{
    line-height: 30px;
    width: 150px;
    overflow: scroll;
    margin-bottom: 10px;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;

    font-family: HGSGothicM;
    font-size: 13px;
    color: #2C2C2C;
}

#sp_other_info{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.sp_like{
    color: #7A99CF;
}
.sp_like a{
    text-decoration: none;
    color: inherit;
}

.sp_color{
    font-size: 13px;
    color: #7A99CF;
}

#sp_date_info{
    font-family: HGSGothicM;
    font-size: 10px;
    color: #2C2C2C;
}

.sp_comment{
    margin: 20px;
    width: 200px;

    display: flex;
    flex-flow: column;
}

.sp_show_comment_all h4{
    font-family: HGSGothicM;
    font-size: 15px;
    color: #626063;
    margin-bottom: 10px;
}
.sp_show_comments{
    margin-bottom: 10px;
    padding-left: 10px;
    width: 280px;
    height: 80px;
    overflow: scroll;

    display: flex;
    flex-flow: column;
    align-items: center;

    font-family: HGSGothicM;
    font-size: 13px;
    color: #2C2C2C;
    line-height: 20px;
}
.sp_show_comments a{
    color: inherit;

    font-family: HGSGothicM;
    font-size: 13px;
    color: #2C2C2C;
}
.sp_comment_color{
    font-size: 10px;
    color: #7A99CF;
}

.sp_show_comment{
    display: flex;
    flex-flow: column;
    align-items: center;

    width: 300px;
}
.sp_show_comment textarea{
    padding: 5px;
    width: 250px;
    height: 50px;

    font-family: HGSGothicM;
    font-size: 13px;
    color: black;
}
#sp_comment_button{
    margin-top: 5px;
    padding: 1px 3px 1px 3px;
    background-color: white;

    border: solid 2px #7A99CF;
    border-radius: 10px;

    font-family: HGSGothicG;
    font-size: 13px;
    color: #2C2C2C;
}