<p><%= @resource.email %></p>

<p>下記のリンクからパスワードの変更ができます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがない場合は、削除してください。</p>
<p>記載されたリンクからパスワードを変更しない限り、パスワードが変更されることはありません。</p>